<!--The content below is only a placeholder and can be replaced.-->
<nav>
	<div>
		<span><a routerLink="/">Home</a></span>
	</div>
	<div class="sign"  *ngIf= "isUser; else signIn">
		<a routerLink="/profile">Profile</a>
		<button id="signOutBtn" (click)="signOut()" >Sign out</button> 
	</div>
	<ng-template #signIn>
		<div class="sign">
			<button (click)="goToSignIn()" id="signInBtn">Sign In</button>
		</div>
	</ng-template>
</nav>
<ngx-flash-messages></ngx-flash-messages>
<router-outlet></router-outlet>


