<div class="background"></div>
<div class="backgroundCover"></div>
<div class="container">
	<div>
		<h4>We'll send a link on this email address.</h4>
		<form id="forgetPasswordForm" [formGroup]="forgetPasswordForm"  (ngSubmit)="submit(forgetPasswordForm)">
			<div>
				<label for="email">Email</label>
				<input type="text" formControlName="email" name="email">
				<div class="alert" *ngIf="!forgetPasswordForm.controls.email.valid && forgetPasswordForm.controls.email.touched">
					{{emailAlert}}
				</div>
			</div>
			<div>
				<button id="submitBtn" [disabled]="!forgetPasswordForm.valid" type="submit">Submit</button>
			</div>
		</form>	
	</div>
</div>